.scholarship-container {


    margin: 30px 10px;



}



h1 {

    font-family: sans-serif;
    color: rgb(8, 8, 54);
    font-size: 2.7vw;
    text-align: center;
    width: 100%;



}

.scholarship-intro,
.scholarship-conclusion {

    font-family: sans-serif;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 29px;
    text-align: left;
    padding: 2px 30px;


}


.scholarship {


    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;


}

.scholarship li {

    list-style: lower;
    text-align: center;


}

.navlinks {

    text-decoration: none;
    background: none;
    color: red !important;
    font-family: sans-serif;
    font-size: 19px;
}

.navlinks:hover {
    background: #00000034;

}