.nav {

    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 174, 6);
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
    align-items: center;



}

.logo {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 310px;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {

    height: 50px;
    width: 50px;

}


.logo span {


    font-size: 2vw;
    color: darkblue;
    font-weight: 900;
    display: inline;
    font-family: sans-serif;

}

.nav-links {


    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    gap: 10px;
    font-size: 20px;
    margin-right: 15px;
    list-style: none;
    padding: 9px;


}


.active {


    background: green;
    padding: 8px;
    border-radius: 8px;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;


}

.navlink:hover {

    background: rgba(0, 128, 0, 0.322);


}

.navlink {


    padding: 8px;
    border-radius: 8px;
    font-family: sans-serif;
    color: rgb(8, 2, 27);
    font-size: 18px;
    text-decoration: none;


}







/*============================================ Media query===================================== */


@media only screen and (max-width:412px) {



    .nav {

        padding: 2px 0;

    }


    .logo {

        margin-left: 4px;


    }

    .logo img {

        width: 20vw;
        height: 20vw;



    }

    .logo span {



        font-size: 6vw;



    }


    .nav-links {

        border-radius: 4px;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: inherit;
        padding: 70px;
        display: none;


    }


}